<form method="post">
    {% csrf_token %}

    <div class="form-group">
      <label class="form-label" for="{{ form.question_text.id_for_label }}">Question Text</label>
      {{ form.question_text }}
    </div>
    <div class="form-group">
      <label class="form-label" for="{{ form.category.id_for_label }}">Category</label>
      {{ form.category }}
    </div>
    <div class="form-group form-check">
      {{ form.is_active }}
      <label class="form-check-label" for="{{ form.is_active.id_for_label }}">Is Active?</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  